DATABASE_URI=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE

# download
# https://docs.aws.amazon.com/en_us/lightsail/latest/userguide/amazon-lightsail-connecting-to-postgres-database-using-ssl.html
POSTGRES_SSL_CA_PATH=/home/node/app/.ssl/ap-southeast-3-bundle.p7b
